/* Global */

:root {
  /* color */
  --front: rgba(0, 0, 0, 0);
  --back: rgba(0, 0, 0, 0);
  --right: rgba(0, 0, 0, 0);
  --left: rgba(0, 0, 0, 0);
  --top: rgba(0, 0, 0, 0);
  --bottom: rgba(0, 0, 0, 0);
  --bacground-color: black;
  --color-gold: #d4af37;
  --color-gold-dark: #6b5818;
  --color-black: black;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --box-size: 500px;
  --border-radius: 5px;

  /* time */
  --animation-duration: 300ms;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-size: 1rem;
  background-color: transparent;
  padding: 0;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}
ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
/* body */

/* Section */
.section__container {
  max-width: 1200px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bacground-color);
  color: var(--color-gold);
}

.navbar__banner-img {
  width: 250px;
}

.navbar__menu-list {
  display: flex;
}

.navbar__menu .navbar__btn {
  color: var(--color-gold);
  padding: 10px 20px;
  font-size: var(--font-regular);
  margin: 5px;
  transition: all var(--animation-duration) ease;
}

.navbar__btn:hover {
  background-color: var(--color-gold-dark);
  border-radius: var(--border-radius);
}

.navbar__toggle {
  font-size: 40px;
  display: none;
}

/* cube */
#landing {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 50px;
  color: var(--color-gold);
  align-items: center;
  background-color: var(--bacground-color);
}

.img-container {
  width: var(--box-size);
  position: relative;
  margin: auto;
}

.landing {
  width: var(--box-size);
}

.cube-face {
  width: inherit;
  height: inherit;
  transition: 13s;
  box-shadow: 0px 0px calc(var(--box-size) * 1) #d4af37;
}

.cube {
  position: absolute;
  left: 0;
  top: 0;
  font-size: calc(var(--box-size) * 0.2);
  width: var(--box-size);
  height: var(--box-size);
  transform-style: preserve-3d;
}

.cube > div {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  border-radius: 2%;
}

.front {
  transform: translateZ(calc(var(--box-size) * 0.5));
  background: var(--front);
}

.back {
  transform: rotateY(180deg) translateZ(calc(var(--box-size) * 0.5));
  background: var(--back);
}

.left {
  transform: rotatey(-90deg) translateZ(calc(var(--box-size) * 0.5));
  background: var(--left);
}

.right {
  transform: rotatey(90deg) translatez(calc(var(--box-size) * 0.5));
  background: var(--right);
}

.top {
  transform: rotatex(90deg) translateZ(calc(var(--box-size) * 0.5));
  background: var(--top);
}

.bottom {
  transform: rotatex(-90deg) translateZ(calc(var(--box-size) * 0.5));
  background: var(--bottom);
}

.cube {
  animation: rotate 7s linear;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }

  to {
    transform: rotateY(359deg) rotateX(359deg);
  }
}
