/* Global */

:root {
  /* color */
  --bacground-color: black;
  --color-gold: #d4af37;
  --color-gold-dark: #6b5818;
  --color-black: black;
  --color-gray: #f8f8f8;
  --color-transparent: transparent;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --box-size: 300px;
  --border-radius: 5px;

  /* time */
  --animation-duration: 300ms;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-size: 1rem;
  background-color: var(--color-transparent);
  padding: 0;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}
ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
/* body */
h1 {
  font-size: var(--font-large);
}

h2 {
  font-size: var(--font-medium);
}

p {
  font-size: var(--font-regular);
}

/* Section */
.section__container {
  max-width: 1200px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bacground-color);
  color: var(--color-gold);
}

.navbar__banner-img {
  width: 250px;
}

.navbar__menu-list {
  display: flex;
}

.navbar__menu .navbar__btn {
  color: var(--color-gold);
  padding: 10px 20px;
  font-size: var(--font-regular);
  margin: 5px;
  transition: all var(--animation-duration) ease;
}

.navbar__btn:hover {
  background-color: var(--color-gold-dark);
  border-radius: var(--border-radius);
}

.navbar__toggle {
  font-size: 40px;
  display: none;
}

/* Landing cube */
#landing {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 50px;
  color: var(--color-gold);
  align-items: center;
  background-color: var(--bacground-color);
}

.img-container {
  width: var(--box-size);
  position: relative;
  margin: auto;
  margin-bottom: calc(var(--box-size) / 10);
}

.landing {
  width: var(--box-size);
}

.landing__logo,
.landing__logo-description {
  width: calc(var(--box-size));
  display: block;
  margin: auto;
}

.landing__description {
  text-align: center;
}

.cube-face {
  width: inherit;
  height: inherit;
  /* transition: 10s; */
  box-shadow: 0 0 calc(var(--box-size) * 1) var(--color-gold);
}

.cube {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--box-size);
  height: var(--box-size);
  transform-style: preserve-3d;
  opacity: 0;
  transition: opacity 2s;
}

.cube > div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2%;
  background-color: var(--color-transparent);
}

.front {
  transform: translateZ(calc(var(--box-size) * 0.5));
}

.back {
  transform: rotateY(180deg) translateZ(calc(var(--box-size) * 0.5));
}

.left {
  transform: rotatey(-90deg) translateZ(calc(var(--box-size) * 0.5));
}

.right {
  transform: rotatey(90deg) translatez(calc(var(--box-size) * 0.5));
}

.top {
  transform: rotatex(90deg) translateZ(calc(var(--box-size) * 0.5));
}

.bottom {
  transform: rotatex(-90deg) translateZ(calc(var(--box-size) * 0.5));
}

#landing:hover .cube {
  animation: rotate 50s linear;
  opacity: 1;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }

  50% {
    transform: rotateY(2deg) rotateX(2deg);
  }

  100% {
    transform: rotateY(1deg) rotateX(1deg);
  }
}

/* About */
#about {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.about__container {
  display: flex;
  justify-content: space-between;
}

.about__description {
  flex-basis: 40%;
}

.about__efect {
  flex-basis: 60%;
}

.about__cube {
  position: relative;
  left: 20%;
  top: 40%;
  opacity: 1;
  height: 100px;
  width: 100px;
  margin: auto;
  animation: rotate2 10s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(359deg) rotateX(359deg);
  }
}

#about h1,
h2 {
  margin-bottom: 20px;
}
